<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="blurred-box">
      <div class="user-box">
          <p class="hello-user">
            Hello <%-name%>!
          </p>
          <p>Welcome to tapthu</p>
      </div>
    </div>
    <footer>
      <p>Copyright tapthu</p>
    </footer>
  </body>
</html>